body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: none;
    user-select: none;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}


.menu-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
}

.menu-option {
    display: flex;
    align-items: center;
    padding: 15px; 
    border: 2px solid #ffa500;
    border-radius: 8px; 
    cursor: pointer;
    max-width: 300px; 
    max-height: 180px;
}

.menu-option:hover {
    background-color: #5350505e;
}

.menu-option i {
    margin-right: 10px;
    color: #ffa500;
}

.data-grid {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.data-grid p {
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding: 6px; 
    border-radius: 8px; 
    background-color: #444;
    color: #fff; 
    text-align: center;
}


.data-grid p:last-child {
    margin-bottom: 0; 
}

body.closing {
    animation: closeMenuAnimation 0.5s ease forwards;
}

@keyframes closeMenuAnimation {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0; 
    }
}

.pause-menu {
    position: fixed;
    top: 50%;
    left: 65%; 
    transform: translate(-50%, -50%);
    background-color: #1e1e1e; 
    width: 95vw;
    max-width: 600px; 
    padding: 40px; 
    border-radius: 15px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    z-index: 1001;
    animation: fadeIn 0.5s ease forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-header {
    text-align: center;
    margin-bottom: 30px; 
    font-size: 1.3rem; 
    color: #ccc; 
    border-bottom: 2px solid #ffa500; 
}

.menu-option:hover {
    background-color: #5350505e;
}

.option-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.option-info h2 {
    margin-bottom: 5px;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #fff; 
    padding-left: 10px; 
    padding-right: 10px;
    margin-top: 0; 
}

.option-info p {
    font-size: 0.76rem;
    line-height: 1.2; 
    color: #ccc; 
    margin-top: 0; 
    margin-bottom: 5px; 
}

.menu-footer {
    text-align: center;
    margin-top: 20px;
    color: #ffa500; 
}

.menu-option-grid {
    display: flex;
    align-items: center;
    padding: 15px; 
    border: 2px solid #ffa500;
    border-radius: 8px; 
    max-width: 300px; 
    max-height: 180px;
}

.data-grid div {
    margin-bottom: 15px; 
}


.info-container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    display: flex; 
    flex-direction: row; 
}

#current-time, #player-id, #player-name, #player-identifier {
    background-color: #726c6c5e; 
    padding: 5px 10px;
    border-radius: 5px; 
    font-size: 0.8rem;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin-right: 5px; 
    border: 1.4px solid #ffa600bd; 
}

.corner-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    min-width: 55px; 
    height: 30px; 
    background-color: #726c6c5e; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    z-index: 1002; 
    color: #fff; 
    font-size: 14px; 
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 0.7rem;
    padding: 0 10px;
}

.corner-buttons:hover {
    background-color: #ffa600bd; 
    color: #ffffff; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.confirmation-popup .buttons button:hover {
    background-color: #ff91009a; 
}

.announcement-content {
    overflow-y: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    max-height: 150px;
    color: #efeeee;
    z-index: 1;
    padding-right: 10px;
}


.announcement-content::-webkit-scrollbar {
    width: 4px;
}

.announcement-content::-webkit-scrollbar-thumb {
    background-color: #ffa500;
    border-radius: 10px;
}

.announcement-content::-webkit-scrollbar-thumb:hover {
    background-color: #ffa500bd;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #1e1e1e; 
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    animation: slideIn 0.5s ease forwards;
}

.notification i {
    margin-right: 10px;
    font-size: 20px;
    color: #ffa500bd;
}

.notification.hide {
    animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.confirmation-popup {
    display: none;
    position: absolute;
    top: calc(20% - 100px);
    right: 80%;
    transform: translateX(-50%);
    background-color: #1e1e1e; 
    width: 300px;
    padding: 20px;
    border-radius: 20px; 
    z-index: 1003;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    font-family: Arial, sans-serif; 
    font-size: 16px;
}

.confirmation-popup p {
    margin-bottom: 20px;
}

.confirmation-popup .buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #1e1e1e; 
    outline: none;
    color: #fff; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    border: 1.7px solid #ffa600bd; 
}

.confirmation-popup .buttons button:hover {
    background-color: #ff91009a; 
}

